.table-header-cell {
  width: 20%;


  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    cursor: pointer;
  }

  &__title {
    margin: 0;
    user-select: none;
  }

  &__direction {
    width: 14px;
    margin-left: 10px;

    &_asc {

    }

    &_desc {
      transform: rotate(180deg);
    }
  }
}
